<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Xtream Loader{% endblock %}</title>
    <script src="https://unpkg.com/htmx.org@1.9.3"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
      .backdrop-container {
        position: relative;
        overflow: hidden;
      }
      .backdrop-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      .backdrop-overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
      }
      @keyframes fadeIn {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }
      .fade-in {
        animation: fadeIn 0.3s ease-in-out;
      }
    </style>
  </head>
  <body class="bg-gray-100">
    <nav class="bg-gray-800 text-white p-4">
      <div
        class="container mx-auto flex flex-wrap justify-between items-center"
      >
        <a href="/" class="text-xl font-bold">Xtream Loader</a>

        <button id="mobile-menu-button" class="lg:hidden">
          <svg
            class="w-6 h-6"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h16m-7 6h7"
            ></path>
          </svg>
        </button>

        <div
          id="mobile-menu"
          class="hidden w-full lg:flex lg:w-auto lg:items-center"
        >
          <div class="lg:flex-grow">
            {% if current_user %}
            <a
              href="/"
              class="block mt-4 lg:inline-block lg:mt-0 hover:text-gray-300 mr-4"
              >Home</a
            >
            {% if current_user.streams_access %}
            <a
              href="/streams"
              class="block mt-4 lg:inline-block lg:mt-0 hover:text-gray-300 mr-4"
              >Streams</a
            >
            {% endif %} {% if current_user.series_access %}
            <a
              href="/series"
              class="block mt-4 lg:inline-block lg:mt-0 hover:text-gray-300 mr-4"
              >Series</a
            >
            {% endif %} {% if current_user.films_access %}
            <a
              href="/films"
              class="block mt-4 lg:inline-block lg:mt-0 hover:text-gray-300 mr-4"
              >Films</a
            >
            {% endif %} {% if current_user.is_admin %}
            <a
              href="/admin"
              class="block mt-4 lg:inline-block lg:mt-0 hover:text-gray-300 mr-4"
              >Admin</a
            >
            {% endif %}
            <a
              href="/statistics"
              class="block mt-4 lg:inline-block lg:mt-0 hover:text-gray-300 mr-4"
              >Statistics</a
            >
            <a
              href="/logout"
              class="block mt-4 lg:inline-block lg:mt-0 hover:text-gray-300"
              >Logout</a
            >
            {% else %}
            <a
              href="/login"
              class="block mt-4 lg:inline-block lg:mt-0 hover:text-gray-300"
              >Login</a
            >
            {% endif %}
          </div>
        </div>
      </div>
    </nav>

    {% if current_user %}
    <div class="container mx-auto mt-4 flex justify-center">
      <form action="/search" method="get" class="flex items-center">
        <input
          type="text"
          name="q"
          placeholder="Search..."
          required
          class="p-2 border rounded"
        />
        <select name="search_type" class="mr-2 p-2 border rounded">
          {% if current_user.series_access %}
          <option value="series">Series</option>
          {% endif %} {% if current_user.films_access %}
          <option value="films">Films</option>
          {% endif %} {% if current_user.streams_access %}
          <option value="tv">TV Channels</option>
          {% endif %}
        </select>
        <button
          type="submit"
          class="ml-2 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
        >
          Search
        </button>
      </form>
    </div>
    {% endif %}

    <div class="container mx-auto px-4 py-8">
      {% block content %}{% endblock %}
    </div>

    <script>
      document
        .getElementById("mobile-menu-button")
        .addEventListener("click", function () {
          var menu = document.getElementById("mobile-menu");
          menu.classList.toggle("hidden");
          menu.classList.toggle("fade-in");
        });
    </script>
  </body>
</html>
