<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
  {% for stream in streams %}
  <div class="bg-white shadow-md rounded-lg p-4">
    <div class="flex items-center mb-2">
      {% if stream.cached_icon %}
      <img
        src="{{ stream.cached_icon }}"
        alt="{{ stream.name }} icon"
        class="w-12 h-12 mr-4 object-cover rounded"
      />
      {% else %}
      <div
        class="w-12 h-12 mr-4 bg-gray-200 rounded flex items-center justify-center"
      >
        <span class="text-gray-500">No icon</span>
      </div>
      {% endif %}
      <h3 class="text-lg font-semibold">{{ stream.name }}</h3>
    </div>
    <p><strong>Stream Type:</strong> {{ stream.stream_type }}</p>
    <p><strong>Added:</strong> {{ stream.added_date }}</p>
    <div class="mt-2 flex space-x-2">
      <button
        onclick="copyToClipboard('{{ stream.play_link }}')"
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
      >
        Copy Link
      </button>
      <a
        href="/epg_page/{{ stream.stream_id }}"
        class="bg-green-500 hover:bg-green-700 text-white font-bold py-1 px-2 rounded text-sm"
      >
        Load EPG
      </a>
    </div>
    <div id="epg-info-{{ stream.stream_id }}" class="mt-2 hidden"></div>
  </div>
  {% endfor %}
</div>
<script>
  function copyToClipboard(text) {
    navigator.clipboard.writeText(text).then(
      function () {
        alert("Link copied to clipboard!");
      },
      function (err) {
        console.error("Could not copy text: ", err);
      }
    );
  }
</script>
